<!-- app/views/todos/index.html.erb -->
<h1>Todo List</h1>

<%= form_with url: todos_path, method: :post, local: true do |f| %>
  <%= f.text_field :title, placeholder: "Add a new task" %>
  <%= f.submit "Add" %>
<% end %>

<ul>
  <% @todos.each do |id, todo| %>
    <%= render partial: 'todo', locals: { id: id, todo: todo } %>
  <% end %>
</ul>
